Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'

refactor(gui): drop `Command` import
  prebuild.rs
Labels: none

docs(gui): add GTK4
  README.md
Labels: none

chore(release): prepare for 0.13.1
  CHANGELOG.md
  Cargo.lock
Labels: none

refactor(gui): convert `thread_pool` into property
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

feat(gui): add `adw::PreferencesWindow`
  src/gui.rs
  src/gui/preferences.rs
  src/gui/preferences/imp.rs
  src/gui/window.rs
  src/resources/preferences.ui
  src/resources/resources.xml
  src/resources/window.ui
Labels: gui

test(gui): add `pool_limit()`
  src/gui/preferences.rs
  src/gui/window.rs
Labels: gui

test(gui): add `task_limiter()`
  src/gui/preferences.rs
Labels: gui

feat(gui): add `logs_switch`
  src/gui/preferences.rs
  src/gui/preferences/imp.rs
  src/resources/preferences.ui
Labels: gui

chore: version bump (0.14.0)
  Cargo.toml
Labels: cargo

refactor(gui): rearrange menu
  src/resources/window.ui
Labels: gui

refactor(gui): `set_settings()` -> `setup_settings()`
  src/gui/preferences.rs
  src/gui/window.rs
Labels: gui

fix(gui): add default height to `DorstPreferences`
  src/resources/preferences.ui
Labels: gui

chore(release): prepare for 0.14.0
  CHANGELOG.md
  Cargo.lock
Labels: none

docs: describe backups
  README.md
Labels: none

chore: version bump (0.15.0)
  Cargo.toml
Labels: cargo

feat(cli): change default behavior
  src/cli.rs
Labels: cli

test(cli): update tests
  tests/cli.rs
Labels: test

docs: update `Usage`
  README.md
Labels: none

fix(cli): update target prompt
  src/cli.rs
Labels: cli

chore(release): prepare for 0.15.0
  CHANGELOG.md
Labels: none

chore: update dependencies
  Cargo.lock
Labels: none

chore: allow deprecated functions
  src/gui/repo_object.rs
  src/gui/window.rs
Labels: gui

chore(release): prepare for 0.15.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: cargo

chore: disallow deprecated functions
  src/gui/repo_object.rs
  src/gui/window.rs
Labels: gui

chore: update LICENSE
  LICENSE
Labels: none

chore(gui): add `async-channel`
  Cargo.toml
Labels: cargo

refactor(gui): switch to `async-channel`
  src/git.rs
  src/gui/repo_object.rs
  src/gui/window.rs
Labels: git, gui

chore(gui): update GTK dependencies
  Cargo.lock
  Cargo.toml
Labels: cargo

fix(gui): update `ObjectExt` import
  src/gui/preferences/imp.rs
Labels: gui

chore(release): prepare for 0.15.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: cargo

build: make glib-build-tools optional
  Cargo.toml
Labels: cargo

chore(release): prepare for 0.15.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: cargo

build: fix `tracing` dependencies
  Cargo.toml
Labels: cargo

ops: bump `codecov-action` to v4
  .github/workflows/ci.yml
Labels: ci

fix(gui): update `load_css()`
  src/gui.rs
Labels: gui

build(gui): bump gtk features to 4.12
  Cargo.toml
Labels: cargo

ops: bump `gtk4` to 4.12.5
  .github/workflows/ci.yml
Labels: ci

chore: update dependencies
  Cargo.lock
Labels: none

ops: use `gtk4-rs` container
  .github/workflows/ci.yml
Labels: ci
