Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'

test(gui): add `tests` module
  src/gui.rs
  src/gui/window.rs
Labels: gui

test(gui): add `color_scheme()`
  src/gui.rs
  src/gui/window.rs
Labels: gui

ci: update coverage settings
  codecov.yml
Labels: ci

test(gui): add `backup()`
  src/gui.rs
  src/gui/window.rs
Labels: gui

test(gui): add `settings()`
  src/gui/window.rs
Labels: gui

test(gui): add `repo_entry_empty()`
  src/gui/window.rs
Labels: gui

chore: version bump (0.10.2)
  Cargo.lock
  Cargo.toml
Labels: cargo

ci: publish after `create-release`
  .github/workflows/cd.yml
Labels: ci

fix(gui): properly indicate failures
  src/gui/window.rs
Labels: gui

style(test): fix `repo_entry_empty()` formatting
  src/gui/window.rs
Labels: gui

test(gui): call `toggle-color-scheme` action
  src/gui/window.rs
Labels: gui

test(gui): update `color_scheme()`
  src/gui/window.rs
Labels: gui

test(gui): update `settings()`
  src/gui/window.rs
Labels: gui

test(gui): add `entries()`
  src/gui/window.rs
Labels: gui

ci: test features
  .github/workflows/ci.yml
Labels: ci

ci: rename `test` job
  .github/workflows/ci.yml
Labels: ci

ci: set `codecov-action` requirements
  .github/workflows/ci.yml
Labels: ci

ci: add `codecov` flags
  .github/workflows/ci.yml
Labels: ci

ci: switch to `setup-xvfb`
  .github/workflows/ci.yml
Labels: ci

chore(release): prepare for 0.10.2
  CHANGELOG.md
  Cargo.lock
Labels: none

ci: fix code coverage conditions
  .github/workflows/ci.yml
Labels: ci

ci: add `flag_management`
  codecov.yml
Labels: ci

test(gui): improve `backup()`
  src/gui/window.rs
Labels: gui

refactor(gui): `mirror_all` -> `process_targets`
  src/gui/window.rs
  src/resources/window.ui
Labels: gui

chore: version bump (0.10.3)
  Cargo.lock
  Cargo.toml
Labels: cargo

refactor(gui): add `controls_disabled()`
  src/gui/window.rs
Labels: gui

fix(gui): fix target filter
  src/gui/window.rs
Labels: gui

test(gui): add `ssh_filter()`
  src/gui/window.rs
Labels: gui

test(gui): add `remove_target()`
  src/gui/window.rs
Labels: gui

test: fix `test_path()`
  src/util.rs
Labels: none

test(gui): fix `backup()`
  src/gui/window.rs
Labels: gui

chore(release): prepare for 0.10.3
  CHANGELOG.md
  Cargo.lock
Labels: none

test(gui): update `ssh_filter()`
  src/gui/window.rs
Labels: gui

test(gui): more `ssh_filter()` errors
  src/gui/window.rs
Labels: gui

feat(gui): add thread pool
  src/gui/window.rs
Labels: gui

feat(gui): add `task_limiter`
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

test(gui): add `task_limiter()`
  src/gui/window.rs
Labels: gui

feat(gui): add `set_task_limiter()`
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

chore: version bump (0.11.0)
  Cargo.lock
  Cargo.toml
Labels: cargo

fix(gui): scroll `GtkListBox` only
  src/resources/window.ui
Labels: gui
