Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

refactor(gui): drop `AtomicUsize`
  src/gui/window.rs
Labels: gui

chore: version bump (0.11.2)
  Cargo.lock
  Cargo.toml
Labels: cargo

fix(gui): fix `button.controls` transition
  src/resources/style.css
Labels: gui

test(gui): fix window builder
  src/gui.rs
  src/gui/window.rs
Labels: gui

fix(gui): drop `directory_dialog`
  src/gui/window/imp.rs
Labels: gui

fix(gui): fix `progressbar` colors
  src/resources/style.css
Labels: gui

fix(gui): set `progressbar.row-progress` transitions
  src/resources/style.css
Labels: gui

chore(release): prepare for 0.11.2
  CHANGELOG.md
  Cargo.lock
Labels: none

fix(gui): fix deltas
  src/gui/window.rs
Labels: gui

style(gui): fix `set_row_channel()` formatting
  src/gui/window.rs
Labels: gui

chore: version bump (0.11.3)
  Cargo.lock
  Cargo.toml
Labels: cargo

fix(gui): merge objects/deltas feedback
  src/git.rs
  src/gui/window.rs
Labels: git, gui

refactor(gui): add `window::Status`
  src/git.rs
  src/gui/window.rs
Labels: git, gui

test(gui): add `start()`
  tests/gui.rs
Labels: test

chore(release): prepare for 0.11.3
  CHANGELOG.md
  Cargo.lock
Labels: none

test(cli): drop `features()`
  tests/cli.rs
Labels: test

refactor(gui): add `toggle_backups` template callback
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

test(gui): add `toggle_backups()`
  src/gui/window/imp.rs
Labels: gui

refactor(gui): add directory selection functions
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

feat: show updated targets
  src/cli.rs
  src/git.rs
  src/gui/window.rs
Labels: cli, git, gui

feat(gui): show the number of updated targets
  src/git.rs
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: git, gui

refactor(gui): use `updated_list`
  src/git.rs
  src/gui/window.rs
Labels: git, gui

fix(gui): status check behind `tx.is_some()`
  src/git.rs
Labels: git

test: do not push to `dev` branch
  src/gui.rs
  tests/cli.rs
Labels: gui, test

test(gui): update `backup()`
  src/gui/window.rs
Labels: gui

chore: version bump (0.12.0)
  Cargo.lock
  Cargo.toml
Labels: cargo

feat(git): add `current_branch()`
  src/git.rs
Labels: git

feat: indicate current branch
  src/cli.rs
  src/git.rs
  src/gui/repo_object.rs
  src/gui/repo_object/imp.rs
  src/gui/window.rs
Labels: cli, git, gui

feat(gui): add status icon
  src/gui/window.rs
Labels: gui

refactor(gui): reconnect `branch_revealer`
  src/gui/window.rs
Labels: gui

fix(gui): fix `status_revealer` margin
  src/gui/window.rs
Labels: gui

chore(cargo): fix description
  Cargo.toml
Labels: cargo

build: add `logs` feature
  Cargo.toml
Labels: cargo

feat: add loggers
  src/cli.rs
  src/gui.rs
  src/gui/window.rs
  src/util.rs
Labels: cli, gui

ci: add `cli` feature
  .github/workflows/ci.yml
Labels: ci

ci: set codecov layout
  codecov.yml
Labels: ci

feat: add `logs` option
  src/cli.rs
  src/gui.rs
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: cli, gui

test(gui): update `invalid_url()`
  src/gui/window.rs
Labels: gui

ci: update features
  .github/workflows/ci.yml
Labels: ci

ci: fix codecov conditions
  .github/workflows/ci.yml
Labels: ci

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'
