Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

fix(gui): set `clone_repo()` deltas
  src/git.rs
Labels: git

fix(gui): improve main progress bar
  src/resources/window.ui
Labels: gui

feat(gui): set progress bar transition
  src/gui/window.rs
Labels: gui

fix(gui): change progress bar width
  src/gui/window.rs
Labels: gui

chore: version bump (0.9.0)
  Cargo.toml
Labels: cargo

fix(gui): do not clamp input widgets
  src/resources/window.ui
Labels: gui

chore(cargo): update categories
  Cargo.toml
Labels: cargo

fix(gui): drop `width_request()`
  src/gui/window.rs
Labels: gui

refactor(gui): update `gtk` declarations
  src/gui/window.rs
Labels: gui

fix(gui): drop `height_request()`
  src/gui/window.rs
Labels: gui

style(gui): fix `pb_box` formatting
  src/gui/window.rs
Labels: gui

fix(gui): align main progress bar
  src/resources/window.ui
Labels: gui

refactor(gui): rename progress bar classes
  src/gui/window.rs
  src/resources/style.css
Labels: gui

feat(gui): set `progressbar.main-progress`
  src/resources/style.css
  src/resources/window.ui
Labels: gui

fix(gui): update `progress_bar` container
  src/resources/window.ui
Labels: gui

chore(release): prepare for 0.9.0
  CHANGELOG.md
  Cargo.lock
Labels: none

fix(gui): use `SwingRight`
  src/gui/window.rs
  src/resources/window.ui
Labels: gui

chore: version bump (0.9.1)
  Cargo.toml
Labels: cargo

fix(gui): drop `Message::Spin`
  src/git.rs
  src/gui/window.rs
Labels: git, gui

fix(gui): update `Message::Progress`
  src/gui/window.rs
Labels: gui

chore(release): prepare for 0.9.1
  CHANGELOG.md
  Cargo.lock
Labels: none

fix(gui): improve progress bar animations
  src/gui/window.rs
  src/resources/window.ui
Labels: gui

chore: version bump (0.9.2)
  Cargo.toml
Labels: cargo

refactor(gui): drop `success_item`
  src/gui/window.rs
Labels: gui

chore(release): prepare for 0.9.2
  CHANGELOG.md
  Cargo.lock
Labels: none

build: add build-time information
  Cargo.lock
  Cargo.toml
  build.rs
Labels: build, cargo

feat: add commit hash to version string
  src/cli.rs
  src/gui/window.rs
  src/util.rs
Labels: cli, gui

chore: version bump (0.10.0)
  Cargo.lock
  Cargo.toml
Labels: cargo

ci: calculate checksums
  .github/workflows/cd.yml
Labels: ci

fix(gui): adjust progress bar transitions
  src/gui/window.rs
  src/resources/window.ui
Labels: gui

refactor(gui): move channel logic
  src/gui/window.rs
Labels: gui

feat(git): add `clone_target()`
  src/git.rs
Labels: git

feat(cli): add `bootstrap`
  src/cli.rs
  src/util.rs
Labels: cli

feat(gui): add target clones
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

test: fix configs
  tests/main.rs
Labels: test

test: fix `init()`
  tests/main.rs
Labels: test

fix(cli): edit `source_prompt`
  src/cli.rs
Labels: cli

fix(gui): handle `button_source_dest` css class
  src/gui/window.rs
Labels: gui

test(unit): add `test_path()`
  src/util.rs
Labels: none

docs: update example
  README.md
Labels: none

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'
