Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

ci: rename test job
  .github/workflows/ci.yml
Labels: ci

ci: fix test conditions
  .github/workflows/ci.yml
Labels: ci

test(cli): update `mirror()`
  tests/cli.rs
Labels: test

test(cli): fix `mirror()`
  tests/cli.rs
Labels: test

feat(gui): add row menu
  src/gui/repo_object.rs
  src/gui/repo_object/imp.rs
  src/gui/window.rs
Labels: gui

feat(gui): add `edit_button`
  src/gui/window.rs
Labels: gui

test(gui): fix `remove_target()`
  src/gui/window.rs
Labels: gui

feat(gui): add `repos_list_count`
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

refactor(gui): fix `edit_button.connect_clicked()` formatting
  src/gui/window.rs
Labels: gui

refactor(gui): update `create_repo_row()`
  src/gui/window.rs
Labels: gui

test(gui): add `edit_target()`
  src/gui/window.rs
Labels: gui

feat(gui): deactivate rows with `controls_disabled()`
  src/gui/window.rs
Labels: gui

feat(gui): add row dialogs
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

test(gui): fix `edit_target()`
  src/gui/window.rs
Labels: gui

test(gui): fix `remove_target()`
  src/gui/window.rs
Labels: gui

chore(release): prepare for 0.12.0
  CHANGELOG.md
  Cargo.lock
Labels: none

docs: add `Features`
  README.md
Labels: none

test(gui): add `about_window()`
  src/gui/window.rs
Labels: gui

fix(gui): fix `edit` dialog
  src/gui/window.rs
Labels: gui

chore: version bump (0.12.1)
  Cargo.lock
  Cargo.toml
Labels: cargo

refactor(gui): drop redundant `to_string()`
  src/gui/window.rs
Labels: gui

fix(gui): fix `remove` dialog
  src/gui/window.rs
Labels: gui

refactor(gui): move `process_repo()`
  src/gui/repo_object.rs
  src/gui/repo_object/imp.rs
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

ci: update `checkout`
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci

ci(test): disable `fail-fast`
  .github/workflows/ci.yml
Labels: ci

fix(gui): drop `glib::idle_add_local()`
  src/gui/repo_object.rs
  src/gui/repo_object/imp.rs
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

refactor(gui): drop `RepoMessage::Start`
  src/gui/repo_object.rs
Labels: gui

refactor(gui): reuse `updated` status
  src/gui/window.rs
Labels: gui

fix(gui): merge error strings
  src/gui/repo_object.rs
Labels: gui

test(gui): update `backup()`
  src/gui/window.rs
Labels: gui

test(gui): add `backup_error()`
  src/gui/window.rs
Labels: gui

test(gui): update `ssh_filter()`
  src/gui/window.rs
Labels: gui

fix(gui): update `obj.connect_completed_notify()`
  src/gui/window/imp.rs
Labels: gui

refactor(gui): move `completed_notify` callback
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

fix(gui): fix `RepoMessage::Reset`
  src/gui/repo_object.rs
Labels: gui

refactor(gui): `Message` -> `RowMessage`
  src/git.rs
  src/gui/repo_object.rs
  src/gui/window.rs
Labels: git, gui

refactor(gui): drop `pending` status
  src/gui/window.rs
Labels: gui

refactor(gui): use `repo_data` methods
  src/gui/repo_object.rs
  src/gui/window.rs
Labels: gui

fix(gui): fix `update_rows()`
  src/gui/window.rs
Labels: gui

fix(logs): set `repo_name` attribute
  src/gui/repo_object.rs
Labels: gui

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'
