Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'

docs: update description
  README.md
Labels: none

feat(gui): add `backups_enabled`
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

fix(gui): fix `show_about_dialog()`
  src/gui/window.rs
Labels: gui

fix(gui): detailed dialog toasts
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

feat(gui): set application links
  src/gui/window.rs
Labels: gui

feat(gui): add changelog link
  src/gui/window.rs
Labels: gui

refactor: `clone_target` -> `process_target`
  src/cli.rs
  src/git.rs
  src/gui/window.rs
Labels: cli, git, gui

refactor(git): use `repo` in `process_target()`
  src/git.rs
Labels: git

test: add `bootstrap()`
  tests/main.rs
Labels: test

style(git): fix `process_target()` formatting
  src/git.rs
Labels: git

refactor: update `format!` strings
  src/gui/window.rs
  src/util.rs
Labels: gui

test: fix helper
  tests/main.rs
Labels: test

fix(cli): fix `silent`
  src/cli.rs
Labels: cli

feat: change GUI flag
  src/main.rs
Labels: none

docs(gui): fix `Usage`
  README.md
Labels: none

test: add `features()`
  tests/main.rs
Labels: test

fix(gui): update layout
  src/resources/window.ui
Labels: gui

refactor(git): fix `fetch_repo()`
  src/git.rs
Labels: git

refactor(gui): update `show_message()`
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

refactor(git): drop `default_branch`
  src/git.rs
Labels: git

feat(gui): hide `button_backup_dest`
  src/gui/window.rs
  src/resources/window.ui
Labels: gui

feat(gui): add placeholder
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

style(gui): fix `GtkEntry`
  src/resources/window.ui
Labels: gui

fix(gui): change status page icon
  src/resources/window.ui
Labels: gui

refactor(gui): add `repos_list_activated`
  src/gui/window.rs
Labels: gui

ci: use `dtolnay/rust-toolchain`
  .github/workflows/ci.yml
Labels: ci

ci: add `cross` builds
  .github/workflows/ci.yml
Labels: ci

ci: update `release` requirements
  .github/workflows/ci.yml
Labels: ci

ci: update `cross` setup
  .github/workflows/ci.yml
Labels: ci

chore(release): prepare for 0.10.0
  CHANGELOG.md
  Cargo.lock
Labels: none

fix(cli): edit `config` argument
  src/cli.rs
Labels: cli

chore: version bump (0.10.1)
  Cargo.lock
  Cargo.toml
Labels: cargo

test: add `cli` module
  tests/cli.rs
  tests/main.rs
Labels: test

build: fix feature scopes
  src/git.rs
  src/main.rs
  src/util.rs
Labels: git

ci: rename jobs
  .github/workflows/ci.yml
Labels: ci

ci: add `features`
  .github/workflows/ci.yml
Labels: ci

chore(cargo): update description
  Cargo.toml
Labels: cargo

fix(cli): use `CARGO_PKG_DESCRIPTION`
  src/cli.rs
Labels: cli

chore(release): prepare for 0.10.1
  CHANGELOG.md
Labels: none

ci: update `codecov`
  .github/workflows/ci.yml
Labels: ci
