Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

fix(gui): fix `GtkScrolledWindow` animation
  src/resources/window.ui
Labels: gui

feat(gui): enable task limiter
  src/gui/window/imp.rs
Labels: gui

fix(gui): fix `task-limiter` action
  src/gui/window.rs
Labels: gui

feat(gui): handle task limiter setting
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

style(test): fix `task_limiter()` formatting
  src/gui/window.rs
Labels: gui

test(gui): update `wait_ui()`
  src/gui.rs
Labels: gui

test(gui): add task limiter data
  src/gui/window.rs
Labels: gui

feat(gui): improve color scheme handling
  src/gui.rs
  src/gui/window.rs
  src/resources/window.ui
Labels: gui

style(gui): move `action_task_limiter`
  src/gui/window.rs
Labels: gui

fix(gui): `thread::spawn()` -> `gio::spawn_blocking()`
  src/gui/window.rs
Labels: gui

refactor(gui): update `gtk`/`std` imports
  src/gui/window.rs
Labels: gui

feat(gui): add `HTTPS` filter
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

test(gui): update `settings()` config
  src/gui/window.rs
Labels: gui

feat(gui): convert `task-limiter` to `PropertyAction`
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

chore(gui): update dependencies
  Cargo.lock
  Cargo.toml
Labels: cargo

fix(gui): update `Variant`s
  src/gui/window.rs
Labels: gui

fix(gui): fix `ControlFlow`
  src/gui.rs
  src/gui/window.rs
Labels: gui

fix(gui): update `close_request()`
  src/gui/window/imp.rs
Labels: gui

fix(gui): update `setup_repos()`
  src/gui/window.rs
Labels: gui

refactor(gui): use `#[glib::derived_properties]`
  src/gui/window/imp.rs
Labels: gui

refactor(gui): update `RepoObject`
  src/gui/repo_object/imp.rs
Labels: gui

feat(gui): update shortcuts
  src/gui.rs
  src/resources/shortcuts.ui
  src/resources/window.ui
Labels: gui

test(gui): fix `backup()` breaks
  src/gui/window.rs
Labels: gui

feat(gui): move main progress bar
  src/resources/window.ui
Labels: gui

feat(gui): attach `main-progress` to linked widgets
  src/resources/style.css
  src/resources/window.ui
Labels: gui

feat(gui): update `main-menu`
  src/resources/window.ui
Labels: gui

chore(release): prepare for 0.11.0
  CHANGELOG.md
  Cargo.lock
Labels: none

test: fix `xdg_path()`
  src/util.rs
Labels: none

test: increase `backup()` breaks
  src/gui/window.rs
Labels: gui

chore: version bump (0.11.1)
  Cargo.lock
  Cargo.toml
Labels: cargo

fix(gui): fix empty `ListBox`
  src/gui/window.rs
Labels: gui

fix(gui): set `row-progress` radius
  src/resources/style.css
Labels: gui

style(gui): fix css formatting
  src/resources/style.css
Labels: gui

refactor(gui): use property methods
  src/gui/window.rs
  src/gui/window/imp.rs
Labels: gui

refactor(gui): update `empty` header bar
  src/resources/window.ui
Labels: gui

test(gui): add `config()`
  src/gui/window.rs
Labels: gui

fix(gui): replace `set_placeholder()` with `stack_list`
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

fix(gui): animate controls
  src/gui/window.rs
  src/resources/style.css
  src/resources/window.ui
Labels: gui

refactor(gui): do not connect to `revealer`
  src/gui/window.rs
Labels: gui

chore(release): prepare for 0.11.1
  CHANGELOG.md
Labels: none

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'
