Repository charlesrocket/dorst, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cargo, ci, cli, git, gui, test

.github/labeler.yml:

---

build:
  - 'build.rs'

cargo:
  - 'Cargo.toml'

ci:
  - '.github/**/*'
  - 'codecov.yml'

cli:
  - 'src/cli.rs'

git:
  - 'src/git.rs'

gui:
  - 'src/gui/**/*'
  - 'src/resources/**/*'
  - 'src/gui.rs'

test:
  - 'tests/**/*'

build: set `git2` features
  Cargo.toml
Labels: cargo

chore(release): prepare for 0.12.1
  CHANGELOG.md
  Cargo.lock
Labels: none

feat(gui): drop `banner`
  src/gui/repo_object.rs
  src/gui/window.rs
  src/gui/window/imp.rs
  src/resources/window.ui
Labels: gui

chore: version bump (0.13.0)
  Cargo.lock
  Cargo.toml
Labels: cargo

test(gui): fix popover tests
  src/gui/window.rs
Labels: gui

feat(gui): add error heading
  src/gui/window.rs
Labels: gui

fix(gui): change error icon
  src/gui/window.rs
Labels: gui

fix(gui): fix error wrapping
  src/gui/window.rs
Labels: gui

fix(gui): change error formatting
  src/gui/window.rs
Labels: gui

fix(gui): move error tooltip
  src/gui/window.rs
Labels: gui

test(gui): update `backup_error()`
  src/gui/window.rs
Labels: gui

fix(gui): unlink popover buttons
  src/gui/window.rs
Labels: gui

feat(gui): add popover tooltips
  src/gui/window.rs
Labels: gui

fix(gui): improve `GtkScrolledWindow` layout
  src/resources/window.ui
Labels: gui

chore(deps): bump `git2` to 0.18
  Cargo.toml
Labels: cargo

chore(deps): bump `built` to 0.7
  Cargo.lock
  Cargo.toml
Labels: cargo

refactor(gui): add `repo_box` template
  src/gui.rs
  src/gui/repo_box.rs
  src/gui/repo_box/imp.rs
  src/gui/window.rs
  src/resources/repo_box.ui
  src/resources/resources.gresource.xml
Labels: gui

fix(gui): fix `INVALID` links
  src/gui/repo_box/imp.rs
  src/gui/window.rs
Labels: gui

test(gui): update `invalid_url()` config
  src/gui/window.rs
Labels: gui

test(gui): check invalid labels
  src/gui/window.rs
Labels: gui

ci: drop `cache-apt-pkgs-action`
  .github/workflows/ci.yml
Labels: ci

ci: update `publish` job
  .github/workflows/cd.yml
Labels: ci

fix(gui): edit `empty` message
  src/resources/window.ui
Labels: gui

fix(gui): adjust entry margin
  src/resources/window.ui
Labels: gui

chore(release): prepare for 0.13.0
  CHANGELOG.md
  Cargo.lock
Labels: none

build(cargo): move custom script
  Cargo.toml
  prebuild.rs
Labels: cargo

chore: ignore gresource
  .gitignore
Labels: none

fix(gui): use static gresource
  prebuild.rs
  src/gui.rs
  src/resources/resources.xml
Labels: gui

test(gui): fix `window()`
  src/gui/window.rs
Labels: gui

ci: update package lists
  .github/workflows/ci.yml
Labels: ci

build(cargo): update glib command
  prebuild.rs
Labels: none

ci: drop nightly builds
  .github/workflows/ci.yml
Labels: ci

chore(gui): add freedesktop files
  data/org.hellbyte.dorst.desktop
  data/org.hellbyte.dorst.png
Labels: none

build(cargo): exclude data directory
  Cargo.toml
Labels: cargo

chore(gui): resize app icon
  data/org.hellbyte.dorst.png
Labels: none

chore(gui): set desktop entry flag
  data/org.hellbyte.dorst.desktop
Labels: none

build: add Makefile
  Makefile
  README.md
Labels: none

build(make): improve compatability
  Makefile
Labels: none

chore: version bump (0.13.1)
  Cargo.toml
Labels: cargo

docs: do not mention `sudo`
  README.md
Labels: none
